# fly.toml app configuration file generated for steward-bank on 2023-06-13T03:45:57Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "steward-bank"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []
primary_region = "sjc"
swap_size_mb = 512


[env]

[experimental]
  auto_rollback = true
  cmd = []
  entrypoint = []
  exec = []
  private_network = true

[[services]]
  http_checks = []
  internal_port = 1337
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"